body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6f8;
}

header {
    background: #222;
    color: white;
    padding: 15px;
}

nav a {
    margin-right: 20px;
    cursor: pointer;
    color: #ddd;
}

nav a:hover {
    color: white;
}

section {
    padding: 40px;
}
